{% extends '../../../views/base.swig.html' %}
{% block content %}
<h2>Webcams</h2>
<p>The cameras in the space allow you to check whether anyone is in before you set off, the cameras can be slow to load and uses a fair amount of data if continually refreshed.</p>
{% for camera in cameras %}
	<h3>{{ camera.name }}</h3>
	<p><img src="/webcams/{{ loop.index }}.jpg" alt="{{ camera.name }}" /></p>
{% endfor %}
<p>If there are any problems with the cameras please contact the <a href="mailto:trustees@southlondonmakerspace.org">trustees</a>.</p>
{% endblock %}

{% block js %}
<script src="https://login.persona.org/include.js"></script>
<script>

navigator.id.watch({
  loggedInUser: {% if email %}'{{ email }}'{% else %}null{% endif %},
  onlogin: function(assertion) {
    var xhr = new XMLHttpRequest();
    xhr.open("POST", "/auth/verify", true);
    xhr.setRequestHeader("Content-Type", "application/json");
    xhr.addEventListener("loadend", function(e) {
      var data = JSON.parse(this.responseText);
      if (data && data.status === "okay") {
        console.log("You have been logged in as: " + data.email);
        window.location.reload(true);
      }
    }, false);

    xhr.send(JSON.stringify({
      assertion: assertion
    }));
  },
  onlogout: function() {
    var xhr = new XMLHttpRequest();
    xhr.open("POST", "/auth/logout", true);
    xhr.addEventListener("loadend", function(e) {
      console.log("User has logged out.");
      window.location.reload(true);
    });
    xhr.send();
  }
});


</script>
{% endblock %}
