{% extends '../../../views/base.swig.html' %}
{% block content %}
<h2>Webcam</h2>
<p>The camera in the space allow you to check whether anyone is in before you set off, the camera is slow to load and uses a lot of data if continually refreshed.</p>
<h3>Camera 1</h3>
<p><img src="http://members:.6}2XrmHCYGtgcN@81.187.27.131:8000/SnapshotJPEG?Resolution=640x480&Quality=Clarity" /></p>
<p>If there are any problems with the camera please contact the <a href="mailto:trustees@southlondonmakerspace.org">trustees</a>.</p>
{% endblock %}
